<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderCSS" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderJavaScript" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderCSharp" serializeAs="String">
                <value>/*
 * Copyright © 2019-2021 StreamActions Team
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderPowerShell" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderHTML" serializeAs="String">
                <value> &lt;!--
 /*
  * Copyright © 2019-2021 StreamActions Team
  *
  * Licensed under the Apache License, Version 2.0 (the "License");
  * you may not use this file except in compliance with the License.
  * You may obtain a copy of the License at
  *
  *  http://www.apache.org/licenses/LICENSE-2.0
  *
  * Unless required by applicable law or agreed to in writing, software
  * distributed under the License is distributed on an "AS IS" BASIS,
  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  * See the License for the specific language governing permissions and
  * limitations under the License.
  */
 --&gt;
                </value>
            </setting>
            <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RegionsIncludeAccessLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_ExplicitMembersAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateAccessorsToBothBeSingleLineOrMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeader_HeaderUpdateMode" serializeAs="String">
                <value>1</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>